.holder {
  margin: 10% 0 0 40%;
}

input {
  border: none;
  border-bottom: 1px solid blue;
  outline: none;
  line-height: 1.5em;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

select {
  line-height: 1.5em;
  padding: 5px 15px;
  margin-top: 5px;
}
