<div class="holder">
<form  [formGroup]="form">
  <table>
    <tr>
      <td><label for="name">name </label></td>
      <td><input type="text" id="name" formControlName="name"/></td>
      <td>
        <div *ngIf="isUncorrect('name')&&(!isEmpty('name'))">Enter correct name</div>
        <div *ngIf="isEmpty('name')">Enter a value</div>
      </td>
    </tr>

    <tr>
      <td><label for="email">email </label></td>
      <td><input type="email" id="email" formControlName="email"/></td>
      <td>
        <div *ngIf="isEmpty('email')">Enter a value</div>
        <div *ngIf="isUncorrect('email')&&(!isEmpty('email'))">Enter correct email</div>
      </td>
    </tr>

    <tr>
      <td><label for="confirm">confirm </label></td>
      <td><input type="text" id="confirm" formControlName="confirm"/></td>
      <td>
        <div *ngIf="isEmpty('confirm')">Enter a value</div>
        <div *ngIf="isUncorrect('confirm')&&(!isEmpty('name'))">Enter correct value</div>
      </td>
    </tr>

    <tr>
      <td><label for="age">age </label></td>
      <td><input type="text" id="age" formControlName="age"/></td>
      <td>
        <div *ngIf="isEmpty('age')">Enter a value</div>
        <div *ngIf="isUncorrect('age')&&(!isEmpty('name'))">Enter correct age</div>
      </td>
    </tr>

    <tr>
      <td><label for="skill">skill </label></td>
      <td>
        <select id="skill" formControlName="skill">
          <option disabled>Choose some skill</option>
          <option value="TypeScript">TypeScript</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Angular">Angular</option>
          <option value="CSS">CSS</option>
          <option value="HTML">HTML</option>
        </select>
      </td>
      <td>
        <div *ngIf="isEmpty('skill')">Choose a value</div>
      </td>
    </tr>
  </table>

  <button type="submit">Ok</button>
</form>
</div>
