label {
  display: inline-block;
  width: 80px;
  line-height: 1.2em;
}

div div {
  margin: 5px;
}

input,
select {
  height: 2em;
  line-height: 2em;
  border: none;
  border-bottom: 1px solid darkslategray;
}

select {
  width: 100px;
}
